@import "variables";
@import "mixins";

.about-content {
  background: #ffffff;
  color: $dark-background;
  margin-top: 20px;
  @extend .shadow;

  p {
    margin-top: 10px;
    @include vpw-small {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  &:last-child {
    margin-bottom: 20px;
  }
}

.about-title {
  font-size: $title-font-size;
}

.about-heading {
  font-size: $about-heading-font-size;
  font-weight: bold;
  padding-top: 10px;
}

.about-face-photo {
  img {
    width: 200px;
    margin-bottom: 0 !important;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
  }
}

.bulleted {
  padding-left: 35px;
  li {
    list-style: disc;
  }
}

.about-github, .about-bitbucket {
  text-decoration: none;
  color: $dark-background;
  font-size: 7em;
  &:hover {
    color: lighten($dark-background, 40%);
    text-decoration: none;
  }
}

.about-github {
  border-right: 1px solid lighten($dark-background, 50%);
}