.page.ng-enter, .page.ng-leave {
  position: absolute;
  top:0;
  left:15px;
  right:15px;
  z-index: 10;
}

.page.ng-enter {
  -webkit-animation: 0.5s bounceInLeft;
  animation: 0.5s bounceInLeft;
}

.page.ng-leave {
  -webkit-animation: 0.5s bounceOutRight;
  animation: 0.5s bounceOutRight;
}

@keyframes slide-animation-enter {
  from {
    left:600px;
    opacity:0;
  }
  to {
    left:15px;
    opacity:1;
  }
}

@keyframes slide-animation-leave {
  from {
    left:15px;
    opacity:1;
  }
  to {
    left:-1000px;
    opacity:0;
  }
}

@-webkit-keyframes slide-animation-enter {
  from {
    left:1000px;
    opacity:0;
  }
  to {
    left:15px;
    opacity:1;
  }
}

@-webkit-keyframes slide-animation-leave {
  from {
    left:15px;
    opacity:1;
  }
  to {
    left:-1000px;
    opacity:0;
  }
}