.page.ng-enter, .page.ng-leave {
  position: absolute;
  top:0;
  left:15px;
  right:15px;
}

.page.ng-enter {
  -webkit-animation: 0.5s slide-animation-enter;
  animation: 0.5s slide-animation-enter;
}

.page.ng-leave {
  -webkit-animation: 0.5s slide-animation-leave;
  animation: 0.5s slide-animation-leave;
}

@keyframes slide-animation-enter {
  from {
    z-index:100;
    top:600px;
    opacity:0;
  }
  to {
    top:0;
    opacity:1;
  }
}

@keyframes slide-animation-leave {
  from {
    z-index:101;
    top:0;
    opacity:1;
  }
  to {
    top:-600px;
    opacity:0;
  }
}

@-webkit-keyframes slide-animation-enter {
  from {
    z-index:100;
    top:600px;
    opacity:0;
  }
  to {
    top:0;
    opacity:1;
  }
}

@-webkit-keyframes slide-animation-leave {
  from {
    z-index:101;
    top:0;
    opacity:1;
  }
  to {
    top:-700px;
    opacity:0;
  }
}