body {
//  background: rgba(10, 149, 0, 0.18);
//  overflow: hidden;
}

#main {
//  background: rgba(0, 0, 255, 0.24);
  height: 100vh;
}

#menu {
  background: rgba(12, 12, 12, 0.87);
  height: 100vh;
}

// Unintended scrollbar fix
.row {
  margin-left: -15px;
  margin-right: -10px;
}

#menu  {
  color: #ffffff;
  position: relative;
}

#menu-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#social-links {
  a, a:visited {
    color: #ffffff;
  }
  i {
    font-size: 15pt;
  }
}

.cursor-heart {
  cursor: url('../../assets/img/heart-icon.png') 16 12, auto;
}