@import "variables";

body {
  font-family: Roboto-Light, sans-serif;
  color: $white;
}

#main {
  height: 100vh;
}

#menu {
  background: #141414;
  height: 100vh;
  min-height: 200px;
  position: fixed;
  color: $white;
}

#banner {
  font-family: Roboto-Light, sans-serif;
  font-size: 3.5vw;
  text-transform: uppercase;
}

#nav {
  img {
    max-height: 50px;
  }
  #nav-back {
    transform: rotate(-90deg);
  }
  #nav-forward {
    transform: rotate(90deg);
  }
  #nav-divider {
    background-image: url("/assets/img/nav-div-icon.png");
    height: 3px;
    width: 100%;
    margin-bottom: 20px;
  }
}

#menu-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  p {
    margin-bottom: 5px;
  }
}

#social-links {
  ul {
    margin: 0;
  }
  a, a:visited {
    color: $white;
  }
  i {
    font-size: 15pt;
  }
}

#by-line {
  color: rgba(236, 236, 236, 0.43);
  a, a:visited {
    color: #b8b8b8;
  }
}

.cursor-heart {
  cursor: url('../../assets/img/heart-icon.png') 16 12, auto;
}

#main {
  .h1 {
    text-transform: uppercase;
  }
}

// Unintended scrollbar issue fix
.row {
  margin-left: -15px;
  margin-right: -10px;
}

.home-item {
  margin: 3px -15px 0 -10px;
  padding: 10px;
  .h1 {
    margin: 0;
  }
}