body {
  background: rgba(10, 149, 0, 0.18);
  overflow: hidden;
}

#home {
  background: rgba(0, 0, 255, 0.24);
  height: 100vh;
}

#menu {
  background: rgba(255, 182, 193, 0.51);
  height: 100vh;
}