@import "../../bower_components/hover/scss/hover";
@import "variables";
@import "mixins";

nav {
  background: $dark-background;
  position: absolute;
  height: 64px;
}

nav a.button-collapse i {
  height: 64px;
  line-height: 64px;
}

ul.side-nav {
  background: $dark-background;
  a {
    color: $white;
  }
}

.logo-container {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

.logo {
  width: 80%;
  max-width: 300px;
}

.nav-wrapper a:hover {
  text-decoration: none;
  color: $primary-accent-color;
}

.brand-logo {
  min-width: 400px;
  span {
    @include vpw(450px) {
      font-size: 15pt;
    }
  }
}

.logo-primary {
  font-weight: bolder;
}

.logo-secondary {
  color: $primary-accent-color;
}

.mdi-navigation-menu {
  margin-left: 10px;
}

.no-hover:hover {
    background: none !important;
}

.side-nav-image {
  width: 80px;
}

#menu {
  background: $dark-background;
  height: 100vh;
  min-height: 200px;
  position: fixed;
  color: $white;
  z-index: 100;
}

#menu-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  p {
    margin-bottom: 5px;
  }
}

#social-links {
  ul {
    margin: 0;
  }
  a {
    // Include some sort of subtle animation
  }
  a, a:visited {
    color: $white;
  }
  i {
    font-size: 15pt;
  }

}

#by-line {
  color: rgba(236, 236, 236, 0.43);
  a, a:visited {
    color: #b8b8b8;
  }
}

.cursor-heart {
  cursor: url('../../assets/img/heart-icon.png') 16 12, auto;
}