$white: #ffffff;
$dark-background: #232323;
$title-font-size: 35pt;
$project-secondary-title: 15pt;

$primary-accent-color: #25AAE1;
$secondary-accent-color: #FFA500;

$resume-company-font-size: 20pt;
$resume-date-font-size: 13pt;
$resume-position-font-size: 13pt;

$resume-heading-height: 40px;

$home-items: 5;